.about-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  margin-top: 50px;
  box-shadow: 3px 3px rgb(83, 83, 83), -1em 0 0.4em rgb(112, 112, 110);
}
.about-content p {
  text-align: center;
  margin: 60px 30px;
}

.about-content img {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .about-content {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin-top: 50px;
    box-shadow: 3px 3px rgb(83, 83, 83), -1em 0 0.4em rgb(112, 112, 110);
  }
.about-content img {
  width: 100%;
}
 
}

