.home-page {
  width: 100%;
}


.home-container img {
  position: relative;
  width: 100%;
  height: 750px;
  object-fit: cover;

  /* border-radius: 230px; */

  display: block;
}
.home-main {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 300px;
  margin-left: 450px;
  color: white;
  font-size: 20px;
}
.home-body{
    margin-top: 30px;
}
.body-content{
    width: 80%;
    display: flex;
}
.home-content{
    /* width: 70%; */
    margin-top: 30px;
     font-family: 'Urbanist', sans-serif;
     font-size: 20px;


}
.home-content p{
 margin-top: 30px;
 letter-spacing: 2px;
 text-align: justify;
 line-height: 20px;

}


.home-content2 {
 margin-left: 80px;



}
.mid-btn {
    font-family: "Caveat", cursive;
    font-size: 20px;
    border-radius: 30px;
   
    cursor: pointer;
    display:inline-block;
    background:#fff;
    position:relative;
    background:-webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #000));
    background:-webkit-linear-gradient(left, #fff 50%, #000 50%);
    background:-moz-linear-gradient(left, #fff 50%, #000 50%);
    background:linear-gradient(to right, #fff 50%, #000 50%);
    background-size:200% 100%;
    background-position:0 0;
    -webkit-transition:background-position .3s ease-out;
    -moz-transition:background-position .3s ease-out;
    transition:background-position .3s ease-out;
  }
  .mid-btn:hover {
    background-position:-100% 0;
    color: white;
  }





.home-content2 img{
    /* margin-top: -100px; */
    margin: 0 auto;
}
.homebtn{
    padding: 10px 10px;
    margin-top: 30px;
    background-color: black;
    color: white;
    box-shadow: 7px 5px 5px 5px rgb(204, 194, 194);
    border-radius: 20px;
}
.para{
    display: flex;
}


@media screen and (max-width:900px ) {
    .home-main{
        text-align: center;
        top: 300px;
        color: white;
        font-size: 20px;
        margin-left: 200px;
     
      }

}

@media screen and (max-width:600px) {
    .home-container img {
        width: 100%;
        object-fit: cover;
      
      
      }
      .body-content{
        width: 80%;
        display: grid;
    }
    .home-main {
        position: absolute;
        text-align: center;
        vertical-align: middle;
        top: 300px;
        margin-left: 5px;
        color: white;
        font-size: 20px;
      }


      .para {
      display: grid;
    }
    .para p{
        text-align: center;
padding-left: 60px;

    }

    .home-content2 {
        margin-left: 0px;
        margin-top: 40px;
       
    }
    .home-content2 img {

        margin-left: 53px;
    }
.homebtn{
    margin-left: 80px;

}
       
       

}

